In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
df_postings = pd.read_csv('../data/postings.csv')

In [4]:
df_postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [5]:
df_postings.describe()

,job_id,max_salary,company_id,views,med_salary,min_salary,applies,original_listed_time,remote_allowed,expiry,closed_time,listed_time,sponsored,normalized_salary,zip_code,fips
count,123849.00,29793.00,122132.00,122160.00,6280.00,29793.00,23320.00,123849.00,15246.00,123849.00,1073.00,123849.00,123849.00,36073.00,102977.00,96434.00
mean,3896402138.07,91939.42,12204012.34,14.62,22015.62,64910.85,10.59,1713152338799.94,1.00,1716213036608.15,1712927892086.67,1713204445996.68,0.00,205327.04,50400.49,28713.88
std,84043545.16,701110.14,25541431.66,85.90,52255.87,495973.79,29.05,484820878.41,0.00,2321393898.08,362289347.41,398912198.59,0.00,5097626.76,30252.23,16015.93
min,921716.00,1.00,1009.00,1.00,0.00,1.00,1.00,1701810533000.00,1.00,1712903448000.00,1712345932000.00,1711317014000.00,0.00,0.00,1001.00,1003.00
25%,3894586595.00,48.28,14352.00,3.00,18.94,37.00,1.00,1712862876000.00,1.00,1715480718000.00,1712669760000.00,1712885544000.00,0.00,52000.00,24112.00,13121.00
50%,3901998406.00,80000.00,226965.00,4.00,25.50,60000.00,3.00,1713395039000.00,1.00,1716042264000.00,1712669910000.00,1713407593000.00,0.00,81500.00,48059.00,29183.00
75%,3904707077.00,140000.00,8047188.00,8.00,2510.50,100000.00,8.00,1713478324000.00,1.00,1716088229000.00,1713282569000.00,1713483628000.00,0.00,125000.00,78201.00,42077.00
max,3906267224.00,120000000.00,103472979.00,9975.00,750000.00,85000000.00,967.00,1713572803000.00,1.00,1729124796000.00,1713562107000.00,1713572816000.00,0.00,535600000.00,99901.00,56045.00

In [6]:
df_postings.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.00,HOURLY,"Princeton, NJ",2774458.00,20.00,NaN,...,Requirements: \n\nWe are seeking a College or ...,1713397508000.00,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.00,8540.00,34021.00
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.00,HOURLY,"Fort Collins, CO",NaN,1.00,NaN,...,NaN,1712857887000.00,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.00,80521.00,8069.00
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.00,YEARLY,"Cincinnati, OH",64896719.00,8.00,NaN,...,We are currently accepting resumes for FOH - A...,1713277614000.00,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.00,45202.00,39061.00
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.00,YEARLY,"New Hyde Park, NY",766262.00,16.00,NaN,...,This position requires a baseline understandin...,1712895812000.00,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.00,11040.00,36059.00
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.00,YEARLY,"Burlington, IA",NaN,3.00,NaN,...,NaN,1713451943000.00,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.00,52601.00,19057.00

In [7]:
missing_counts = df_postings.isna().sum()
missing_perc   = (missing_counts / len(df_postings) * 100).round(2)
pd.DataFrame({
    'missing_count': missing_counts,
    'missing_perc':   missing_perc
})

                            missing_count  missing_perc
job_id                                  0          0.00
company_name                         1719          1.39
title                                   0          0.00
description                             7          0.01
max_salary                          94056         75.94
pay_period                          87776         70.87
location                                0          0.00
company_id                           1717          1.39
views                                1689          1.36
med_salary                         117569         94.93
min_salary                          94056         75.94
formatted_work_type                     0          0.00
applies                            100529         81.17
original_listed_time                    0          0.00
remote_allowed                     108603         87.69
job_posting_url                         0          0.00
application_url                     36665         29.60
application_type                        0          0.00
expiry                                  0          0.00
closed_time                        122776         99.13
formatted_experience_level          29409         23.75
skills_desc                        121410         98.03
listed_time                             0          0.00
posting_domain                      39968         32.27
sponsored                               0          0.00
work_type                               0          0.00
currency                            87776         70.87
compensation_type                   87776         70.87
normalized_salary                   87776         70.87
zip_code                            20872         16.85
fips                                27415         22.14

In [8]:
print("Duplicated:", df_postings.duplicated().sum())

Duplicated: 0

In [9]:
cat_cols = [
    'pay_period',
    'formatted_work_type',
    'application_type',
    'work_type',
    'formatted_experience_level',
    'currency',
    'compensation_type'
]

for col in cat_cols:
    print(f"=== {col} ===")
    print(df_postings[col].value_counts(dropna=False).head(10))
    print()

=== pay_period ===
NaN         87776
YEARLY      20628
HOURLY      14741
MONTHLY       518
WEEKLY        177
BIWEEKLY        9
Name: pay_period, dtype: int64

=== formatted_work_type ===
Full-time     98814
Contract      12117
Part-time      9696
Temporary      1190
Internship      983
Volunteer       562
Other           487
Name: formatted_work_type, dtype: int64

=== application_type ===
OffsiteApply          84607
ComplexOnsiteApply    31049
SimpleOnsiteApply      8192
UnknownApply              1
Name: application_type, dtype: int64

=== work_type ===
FULL_TIME     98814
CONTRACT      12117
PART_TIME      9696
TEMPORARY      1190
INTERNSHIP      983
VOLUNTEER       562
OTHER           487
Name: work_type, dtype: int64

=== formatted_experience_level ===
Mid-Senior level    41489
Entry level         36708
NaN                 29409
Associate            9826
Director             3746
Internship           1449
Executive            1222
Name: formatted_experience_level, dtype: int64

=== currency ===
NaN    87776
USD    36058
EUR        6
CAD        3
BBD        2
AUD        2
GBP        2
Name: currency, dtype: int64

=== compensation_type ===
NaN            87776
BASE_SALARY    36073
Name: compensation_type, dtype: int64

In [10]:
top_locations = df_postings['location'].value_counts().head(20)
print("=== Top 20 locations ===")
print(top_locations)

# Remote allowed
remote_counts = df_postings['remote_allowed'].value_counts(dropna=False)
remote_pct = (remote_counts.get(1.0, 0) / len(df_postings) * 100).round(2)
print("\n=== Remote allowed counts ===")
print(remote_counts)
print(f"\nRemote allowed % of total postings: {remote_pct}%")

=== Top 20 locations ===
United States                      8125
New York, NY                       2756
Chicago, IL                        1834
Houston, TX                        1762
Dallas, TX                         1383
Atlanta, GA                        1363
Boston, MA                         1176
Austin, TX                         1083
Charlotte, NC                      1075
Phoenix, AZ                        1059
Washington, DC                      985
Los Angeles, CA                     972
San Francisco, CA                   884
New York City Metropolitan Area     837
Seattle, WA                         818
San Diego, CA                       790
Denver, CO                          787
Philadelphia, PA                    711
Tampa, FL                           659
Miami, FL                           643
Name: location, dtype: int64

=== Remote allowed counts ===
NaN     108603
1.00     15246
Name: remote_allowed, dtype: int64

Remote allowed % of total postings: 12.31%

In [4]:
unique_locations = df_postings['location'].dropna().unique()

print(f"Total unique locations: {len(unique_locations)}\n")

for loc in sorted(unique_locations):
    print(loc)

Total unique locations: 8526

Abbeville, LA
Abbeville, SC
Abbotsford, WI
Abbott, TX
Aberdeen Proving Ground, MD
Aberdeen, MD
Aberdeen, NC
Aberdeen, SD
Aberdeen, WA
Abilene, KS
Abilene, TX
Abingdon, MD
Abingdon, VA
Abington, PA
Absecon, NJ
Acadia Parish County, LA
Accomac, VA
Acton, MA
Acworth, GA
Ada County, ID
Ada, MI
Ada, OK
Adair, IA
Adairsville, GA
Adams County, PA
Adams, WI
Addison, IL
Addison, TX
Adel, IA
Adelanto, CA
Adelphi, MD
Adrian, MI
Advance, NC
Affton, MO
Afton, MN
Agawam, MA
Agoura Hills, CA
Ahoskie, NC
Aiea, HI
Aiken County, SC
Aiken, SC
Airport, Florida, United States
Airway Heights, WA
Aitkin, MN
Akron, OH
Akutan, AK
Alabama, United States
Alabaster, AL
Alachua, FL
Alameda County, CA
Alameda, CA
Alamogordo, NM
Alamosa, CO
Alaska, United States
Albany County, NY
Albany, CA
Albany, GA
Albany, KY
Albany, MO
Albany, NY
Albany, New York Metropolitan Area
Albany, OR
Albemarle, NC
Albert Lea, MN
Albertson, NY
Albertville, AL
Albertville, MN
Albion, MI
Albion, NE
Albion, NY
Albrightsville, PA
Albuquerque, NM
Albuquerque, New Mexico, United States
Albuquerque-Santa Fe Metropolitan Area
Alburtis, PA
Alcoa, TN
Alden, NY
Alderwood Manor, WA
Aledo, IL
Aledo, TX
Alexander City, AL
Alexander, AR
Alexandria Bay, NY
Alexandria, LA
Alexandria, MN
Alexandria, PA
Alexandria, VA
Algona, WA
Algonquin, IL
Alhambra, CA
Alice, TX
Aliceville, AL
Aliquippa, PA
Aliso Viejo, CA
All Seasons Lake Park, OH
All, MO
Allegan, MI
Allegheny County, PA
Allen Park, MI
Allen, NE
Allen, OH
Allen, TX
Allendale, MI
Allendale, NJ
Allenstown, NH
Allentown, NJ
Allentown, NY
Allentown, PA
Alliance, NE
Alliance, OH
Alliance, Texas, United States
Allison Park, PA
Alma, MI
Alma, NE
Almont, CO
Aloha, OR
Alpena, MI
Alpharetta, GA
Alpine, CA
Alsip, IL
Altadena, CA
Altamonte Springs, FL
Altavista, VA
Alton, IL
Alton, TX
Alton, VA
Altoona, IA
Altoona, PA
Altoona, WI
Alvarado, TX
Alvin, TX
Amador County, CA
Amarillo, TX
Amarillo, Texas, United States
Ambler, PA
Amboy, IL
Ambridge, PA
Amelia City, FL
Amelia, OH
American Canyon, CA
American Falls, ID
American Fork, UT
Americus, GA
Amery, WI
Ames, IA
Amesbury, MA
Amherst, MA
Amherst, NH
Amherst, NY
Amherst, OH
Amherst, VA
Amherst, WI
Amityville, NY
Ammon, ID
Amsterdam, NY
Anaconda, MT
Anacortes, WA
Anaheim, CA
Anaheim, California, United States
Anchor Point, AK
Anchorage Borough County, AK
Anchorage, AK
Anchorage, Alaska, United States
Andalusia, AL
Anderson, CA
Anderson, IN
Anderson, SC
Andersonville, GA
Andover, IL
Andover, KS
Andover, MA
Andover, NJ
Andover, OH
Andrews AFB, MD
Andrews, SC
Andrews, TX
Angier, NC
Angleton, TX
Angola, IN
Ankeny, IA
Ann Arbor, MI
Ann Arbor, Michigan, United States
Annandale, MN
Annandale, NJ
Annandale, VA
Annapolis Junction, MD
Annapolis, IL
Annapolis, MD
Anne Arundel County, MD
Anniston, AL
Annville, KY
Annville, PA
Anoka, MN
Anson County, NC
Anson, TX
Ansonia, CT
Antelope, CA
Anthem, AZ
Antigo, WI
Antioch, CA
Antioch, IL
Antioch, TN
Anton Chico, NM
Antonino, KS
Antrim, NH
Apache Junction, AZ
Apex, NC
Apollo Beach, FL
Apopka, FL
Apple Valley, CA
Apple Valley, MN
Appleton, WI
Appleton-Oshkosh-Neenah Area
Appling County, GA
Arab, AL
Arabi, LA
Arcade, NY
Arcadia, CA
Arcadia, WI
Arcata, CA
Arch Cape, OR
Archbold, OH
Archdale, NC
Arden Hills, MN
Arden, NC
Ardmore, OK
Ardmore, PA
Argentina
Argyle, TX
Arizona City, AZ
Arizona, NE
Arizona, United States
Arkadelphia, AR
Arkansas City, KS
Arkansas, AR
Arkansas, United States
Arkoma, OK
Arkport, NY
Arlington County, VA
Arlington Heights, IL
Arlington, MA
Arlington, NE
Arlington, OR
Arlington, TN
Arlington, TX
Arlington, VA
Arlington, Virginia, United States
Arlington, WA
Arma, KS
Armonk, NY
Arnold, MO
Arnold, PA
Arrington, TN
Arroyo Grande, CA
Artesia, NM
Arthur, IL
Arvada, CO
Arvin, CA
Asbury Park, NJ
Ash Flat, AR
Ashburn, VA
Ashburnham, MA
Ashdown, AR
Asheboro, NC
Asheville, NC
Ashford, AL
Ashford, CT
Ashland City, TN
Ashland, KY
Ashland, MA
Ashland, OH
Ashland, OR
Ashland, PA
Ashland, VA
Ashland, WI
Ashley, MI
Ashley, OH
Ashtabula, OH
Ashville, OH
Ashwaubenon, WI
Aspen Hill, MD
Aspen, CO
Assonet, MA
Aston Township, PA
Aston, PA
Astoria, OR
Atchison, KS
Atglen, PA
Athens, AL
Athens, GA
Athens, OH
Athens, TN
Athens, TX
Athens, WV
Atherton, CA
Athol, MA
Atlanta Metropolitan Area
Atlanta metropolitan area, GA
Atlanta, GA
Atlanta, IN
Atlanta, NE
Atlanta, TX
Atlantic Beach, FL
Atlantic City, NJ
Atlantic City, WY
Atlantic County, NJ
Atlantic, IA
Atlantic, VA
Atlantis, FL
Atmore, AL
Atoka, OK
Attapulgus, GA
Attica, IN
Attleboro Falls, MA
Attleboro, MA
Atwater, CA
Atwood, KS
Aubrey, TX
Auburn Hills, MI
Auburn, AL
Auburn, CA
Auburn, IN
Auburn, KY
Auburn, MA
Auburn, ME
Auburn, MI
Auburn, NH
Auburn, NY
Auburn, WA
Auburndale, FL
Auburndale, MA
Audubon, NJ
Audubon, PA
Augusta County, VA
Augusta, GA
Augusta, KS
Augusta, KY
Augusta, ME
Aulander, NC
Ault Field, Washington, United States
Aurora, CO
Aurora, Colorado, United States
Aurora, IL
Aurora, MO
Aurora, OH
Aurora, OR
Austell, GA
Austin, MN
Austin, TX
Austin, Texas Metropolitan Area
Austin, Texas, United States
Austintown, OH
Ava, MO
Ave Maria, FL
Avenel, NJ
Aventura, FL
Avery County, NC
Avila Beach, CA
Avilla, IN
Avoca, AR
Avon Lake, OH
Avon Park, FL
Avon, CO
Avon, CT
Avon, IN
Avon, MA
Avon, MN
Avon, NC
Avon, NY
Avon, OH
Avondale, AZ
Avondale, PA
Axton, VA
Ayden, NC
Ayer, MA
Aynor, SC
Azusa, CA
B & East, TX
Babcock Ranch, Florida, United States
Babylon, NY
Bad Axe, MI
Bagdad, AZ
Bailey's Crossroads, VA
Bainbridge Island, WA
Bainbridge, GA
Baker City, OR
Baker, LA
Bakerhill, AL
Bakersfield, CA
Bala-Cynwyd, PA
Balch Springs, TX
Baldwin Park, CA
Baldwin Place, NY
Baldwin, GA
Baldwin, IL
Baldwin, WI
Baldwinsville, NY
Ball Ground, GA
Ballston Spa, NY
Ballwin, MO
Baltimore City County, MD
Baltimore County, MD
Baltimore metropolitan area, MD
Baltimore, MD
Baltimore, Maryland, United States
Bamberg, SC
Bandera, TX
Bandon, OR
Bangor Base, WA
Bangor, ME
Bangor, WA
Banning, CA
Bar Harbor, ME
Baraboo, WI
Barberton, OH
Barboursville, WV
Barbourville, KY
Bardstown, KY
Barling, AR
Barnegat, NJ
Barnesville, OH
Barnstable, MA
Barnwell, SC
Barre Town, VT
Barre, VT
Barrington, IL
Barrington, NJ
Barron, WI
Barstow, CA
Bartlesville, OK
Bartlett, IL
Bartlett, TN
Barton Creek, TX
Bartow, FL
Bartow, GA
Basalt, CO
Basehor, KS
Basin, WY
Basking Ridge, NJ
Bastrop, LA
Bastrop, TX
Batavia, IL
Batavia, NY
Batavia, OH
Batchelor, LA
Batesville, AR
Batesville, IN
Batesville, MS
Bath, ME
Bath, NY
Bathgate, ND
Baton Rouge Metropolitan Area
Baton Rouge, LA
Battle Creek, MI
Battle Ground, WA
Battle Lake, MN
Baxter, MN
Bay City, MI
Bay City, TX
Bay Lake, FL
Bay Minette, AL
Bay Shore, NY
Bay St Louis, MS
Bayard, IA
Bayard, NM
Bayboro, NC
Bayfield, CO
Bayonet Point, FL
Bayonne, NJ
Bayport, MN
Baytown, TX
Beach Park, IL
Beachwood, OH
Beacon Falls, CT
Beacon, NY
Beale, PA
Bealeton, VA
Bear, DE
Beasley, TX
Beatrice, NE
Beatty, NV
Beattyville, KY
Beaufort County, SC
Beaufort, SC
Beaumont, CA
Beaumont, KS
Beaumont, TX
Beaumont-Port Arthur Area
Beaver Bay, MN
Beaver Creek Village, CO
Beaver Creek, NC
Beaver Dam, WI
Beaver Falls, NY
Beaver Falls, PA
Beaver, PA
Beaver, WV
Beavercreek, OH
Beaverton, OR
Becker, MN
Becket, MA
Beckley, WV
Bedford County, PA
Bedford Heights, OH
Bedford Hills, NY
Bedford Park, IL
Bedford, IN
Bedford, KY
Bedford, MA
Bedford, NH
Bedford, OH
Bedford, PA
Bedford, TX
Bedford, VA
Bedminster, NJ
Bee Cave, TX
Beech Grove, IN
Beech Island, SC
Beecher, IL
Beeville, TX
Bel Air South, MD
Bel Air, MD
Belcamp, MD
Belchertown, MA
Belen, NM
Belfair, WA
Belgium, WI
Belgrade, MT
Bell Gardens, CA
Bellaire, TX
Belle Chasse, LA
Belle Glade, FL
Belle Meade, TN
Belle Plaine, MN
Belle Vernon, PA
Bellefontaine, OH
Bellerose, NY
Belleview, FL
Belleville, IL
Belleville, MI
Belleville, MO
Belleville, NJ
Bellevue, MO
Bellevue, NE
Bellevue, WA
Bellflower, CA
Bellingham Metropolitan Area
Bellingham, MA
Bellingham, WA
Bellingham, Washington, United States
Bellmawr, NJ
Bellmead, TX
Bellows Falls, VT
Bellwood, IL
Bellwood, VA
Belmont, CA
Belmont, MA
Belmont, NC
Belmont, NH
Belmont, NY
Belmont, WI
Beloit, WI
Belpre, OH
Belton, MO
Belton, TX
Beltsville, MD
Belvidere, IL
Belvidere, NJ
Bemidji, MN
Benbrook, TX
Bend, OR
Bend, Oregon, United States
Benicia, CA
Bennettsville, SC
Bennington County, VT
Bennington, NE
Bennington, VT
Bensalem, PA
Bensenville, IL
Benson, MN
Benson, NC
Bentley, LA
Bentleyville, PA
Benton City, WA
Benton County, MN
Benton Harbor, MI
Benton, AR
Benton, IL
Bentonville, AR
Benzonia, MI
Berea, KY
Bergen County, NJ
Bergen, NY
Bergenfield, NJ
Berkeley Heights, NJ
Berkeley Springs, WV
Berkeley, CA
Berkeley, MO
Berks County, PA
Berlin, CT
Berlin, MD
Berlin, NH
Berlin, NJ
Berlin, NY
Berlin, PA
Berlin, VT
Bermuda Dunes, CA
Bermuda Run, NC
Bernalillo, NM
Bernards, NJ
Bernardsville, NJ
Berne, IN
Berne, OH
Bernhards Bay, NY
Berrien Springs, MI
Berryville, AR
Berthoud, CO
Bertie County, NC
Berwick, ME
Berwick, PA
Berwyn, IL
Berwyn, PA
Bessemer City, NC
Bessemer, AL
Bethany, OK
Bethel Park, PA
Bethel, AK
Bethel, CT
Bethel, NC
Bethesda, MD
Bethesda, Tennessee, United States
Bethlehem, CT
Bethlehem, PA
Bethpage, NY
Bethune, SC
Bettendorf, IA
Beverly Hills, CA
Beverly Hills, FL
Beverly Hills, MI
Beverly, MA
Bexar County, TX
Bibb County, GA
Bibb Mill, AL
Biddeford, ME
Big Bear Lake, CA
Big Flats, NY
Big Lake, MN
Big Pine, FL
Big Piney, WY
Big Rapids, MI
Big Sky Meadow Village, MT
Big Spring, TX
Big Springs, NE
Big Stone Gap, VA
Big Wells, TX
Billerica, MA
Billings, MT
Biloxi, MS
Bingham Farms, MI
Binghamton, NY
Birch Bay, WA
Birch Run, MI
Birdsboro, PA
Birkdale Village, North Carolina, United States
Birmingham metropolitan area, AL
Birmingham, AL
Birmingham, MI
Bisbee, AZ
Bishop, CA
Bishop, TX
Bishopville, SC
Bismarck, ND
Bixby, OK
Black Canyon City, AZ
Black Diamond, WA
Black Mountain, NC
Black River Falls, WI
Black Rock, AR
Blackfoot, ID
Blacklick Estates, OH
Blacklick Ridge, OH
Blacksburg, SC
Blacksburg, VA
Blacksburg, Virginia, United States
Blacksburg-Christiansburg-Radford Area
Blackwood, NJ
Bladensburg, MD
Blaine, KY
Blaine, MN
Blaine, WA
Blair County, PA
Blair, NE
Blairsville, GA
Blairsville, PA
Blakely, GA
Blanchester, OH
Blasdell, NY
Blauvelt, NY
Bloomer, WI
Bloomfield Hills, MI
Bloomfield, CT
Bloomfield, NJ
Bloomfield, NM
Bloomingdale, GA
Bloomingdale, IL
Bloomington, IL
Bloomington, IN
Bloomington, MN
Bloomsburg, PA
Bloomsbury, NJ
Blount County, AL
Blountstown, FL
Blountville, TN
Blowing Rock, NC
Blue Ash, OH
Blue Bell, PA
Blue Island, IL
Blue Ridge, GA
Blue Ridge, NC
Blue Springs, MO
Bluefield, WV
Bluffdale, UT
Bluffton, IN
Bluffton, SC
Blytheville, AR
Blythewood, SC
Boardman, OH
Boardman, OR
Boca Raton, FL
Boca Raton, Florida, United States
Boerne, TX
Bogalusa, LA
Bogata, TX
Bogue Chitto, MS
Bohemia, NY
Boiling Springs, SC
Boise Metropolitan Area
Boise, ID
Bolingbrook, IL
Bolivar, MO
Bolton, CT
Bolton, MA
Bondurant, IA
Bonham, TX
Bonita Springs, FL
Bonne Terre, MO
Bonner Springs, KS
Bonner, MT
Bonners Ferry, ID
Bono, AR
Booker, TX
Boone, IA
Boone, NC
Booneville, AR
Booneville, MS
Boonton, NJ
Boonville, MO
Boothbay Harbor, ME
Bordentown, NJ
Boring, OR
Boron, CA
Borrego Springs, CA
Boscawen, NH
Bossier City, LA
Boston, MA
Boston, Massachusetts, United States
Boston, TX
Bothell, WA
Boulder City, NV
Boulder County, CO
Boulder, CO
Bound Brook, NJ
Bountiful, UT
Bourbonnais, IL
Bourne, MA
Bovina, TX
Bow, NH
Bowie, MD
Bowling Green Metropolitan Area
Bowling Green, FL
Bowling Green, KY
Bowling Green, OH
Bowmansville, NY
Boxborough, MA
Boydton, VA
Boyer, IA
Boyertown, PA
Boylston, MA
Boyne City, MI
Boynton Beach, FL
Bozeman, MT
Bozrah, CT
Braceville, IL
Brackenridge, PA
Braddock Hills Borough, PA
Bradenton, FL
Bradford, MA
Bradford, PA
Bradley Junction, FL
Bradley, IL
Brady, TX
Brainard, NE
Brainerd, MN
Braintree, MA
Branch, LA
Branchburg, NJ
Branchville, NJ
Brandenburg, KY
Brandenburg, ND
Brandon, FL
Brandon, SD
Branford, CT
Branson, MO
Braselton, GA
Brattleboro, VT
Brawley, CA
Brazil
Brazil, IN
Brazoria County, TX
Brea, CA
Breaux Bridge, LA
Breckenridge, CO
Breckenridge, MN
Brecksville, OH
Breinigsville, PA
Bremen, GA
Bremen, IN
Bremerton, WA
Brenham, TX
Brentwood, CA
Brentwood, Florida, United States
Brentwood, MO
Brentwood, NY
Brentwood, TN
Brevard County, FL
Brevard, NC
Brewer, ME
Brewster, MA
Brewster, NY
Brewton, AL
Briarcliff Manor, NY
Brick, NJ
Bridgeport, AL
Bridgeport, CT
Bridgeport, NJ
Bridgeport, WV
Bridgeton, MO
Bridgeton, NJ
Bridgeview, IL
Bridgeville, PA
Bridgewater Township, NJ
Bridgewater, NJ
Bridgewater, VA
Bridgman, MI
Bridgton, ME
Brielle, NJ
Brigantine, NJ
Brigham City, UT
Brighton, CO
Brighton, MI
Brighton, NY
Brighton, TN
Brimfield, IL
Brinkley, AR
Brisbane, CA
Brisbane, ND
Brisbin, PA
Bristol County, MA
Bristol, CT
Bristol, IN
Bristol, PA
Bristol, SD
Bristol, TN
Bristol, VA
Bristol, WI
Bristow, VA
Britt, IA
Britton, SD
Broadview, IL
Brockport, NY
Brockton, MA
Brodhead, KY
Brodheadsville, PA
Broken Arrow, OK
Broken Bow, NE
Broken Bow, OK
Bronson, MI
Bronx County, NY
Bronx, NY
Bronxville, NY
Brook Park, OH
Brookfield, CT
Brookfield, IL
Brookfield, WI
Brookhaven, GA
Brookhaven, MS
Brookhaven, NY
Brookings, OR
Brookings, SD
Brookland, AR
Brooklawn, NJ
Brookline, MA
Brooklyn Center, MN
Brooklyn Heights, OH
Brooklyn Park, MN
Brooklyn, IA
Brooklyn, NY
Brooklyn, New York, United States
Brooklyn, OH
Brooks, KY
Brookshire, TX
Brooksville, FL
Brookville, PA
Brookwood, AL
Broomall, PA
Broomfield, CO
Broomfield, Colorado, United States
Broussard, LA
Broward County, FL
Brown Deer, WI
Brownfield, TX
Browning, MO
Browns Mills, NJ
Browns Summit, NC
Brownsburg, IN
Brownstown, IN
Brownstown, MI
Brownsville Metropolitan Area
Brownsville, TN
Brownsville, TX
Brownsville, VT
Brownsville, WI
Brownwood, TX
Bruce, MS
Bruceton, TN
Brunswick, GA
Brunswick, MD
Brunswick, ME
Brunswick, OH
Brush, CO
Bryan, OH
Bryan, TX
Bryant, AR
Bryanâ€“College Station, Texas, United States
Bryn Mawr, PA
Buchanan, GA
Buchanan, MI
Buchanan, WI
Buckeye, AZ
Buckhannon, WV
Buckhead, GA
Buckley AFB, Colorado, United States
Buckner, KY
Bucks County, PA
Bucks, AL
Bucyrus, OH
Buda, TX
Buellton, CA
Buena Park, CA
Buena Vista, CO
Buena Vista, VA
Buena, NJ
Buffalo Grove, IL
Buffalo, IA
Buffalo, MN
Buffalo, NY
Buffalo, New York, United States
Buffalo, OK
Buffalo, WY
Buffalo-Niagara Falls Area
Buford, GA
Buford, NC
Bullhead City, AZ
Bulverde, TX
Buncombe County, NC
Bunkie, LA
Burbank, CA
Burbank, IL
Burgess, VA
Burgettstown, PA
Burien, WA
Burke, VA
Burleson, TX
Burley, ID
Burlingame, CA
Burlington County, NJ
Burlington, IA
Burlington, KY
Burlington, MA
Burlington, ME
Burlington, NC
Burlington, NJ
Burlington, VT
Burlington, WA
Burlington, WI
Burnet, TX
Burney, CA
Burns Harbor, IN
Burnsville, MN
Burnsville, NC
Burnt Mills Village, MD
Burr Ridge, IL
Burton, MI
Burton, OH
Burtonsville, MD
Bushland, TX
Bushton, KS
Bushy Park Terrace, South Carolina, United States
Butler County, OH
Butler County, PA
Butler, IN
Butler, PA
Butler, WI
Butner, NC
Butte County, CA
Butte, MT
Buxton, NC
Buzzards Bay, MA
Byesville, OH
Byhalia, MS
Byram, MS
Byrdstown, TN
Byron Center, MI
Byron, IL
Byron, MN
Cabazon, CA
Cabot, AR
Cache County, UT
Cache, OK
Cactus, TX
Cadillac, MI
Cahokia, IL
Cairo, GA
Calabasas, CA
Calabasas, California, United States
Calabash, NC
Calais, ME
Calcium, NY
Caldwell, ID
Caledonia, IL
Caledonia, MI
Calera, AL
Calexico, CA
Calhoun, GA
California City, CA
California, MD
California, United States
Calistoga, CA
Callahan, FL
Callaway, FL
Callicoon, NY
Calumet City, IL
Calumet, MI
Calumet, OK
Calvert, AL
Calverton, NY
Calypso Cay, Florida, United States
Camarillo, CA
Camas, WA
Cambria County, PA
Cambria, CA
Cambridge City, IN
Cambridge, MA
Cambridge, MD
Cambridge, OH
Camby, IN
Camden County, NJ
Camden, AL
Camden, AR
Camden, DE
Camden, IN
Camden, ME
Camden, MI
Camden, NJ
Camden, SC
Cameron County, PA
Cameron Park, CA
Cameron, LA
Cameron, MO
Cameron, TX
Camilla, GA
Camp Hill, PA
Camp Lejeune, NC
Camp Murray, WA
Camp Pendleton South, CA
Campbell Hall, NY
Campbell, CA
Campbell, TX
Campbellsville, KY
Campobello, SC
Campus, IL
Canaan Street, NH
Canaan, CT
Canaan, NH
Canaan, NY
Canada
Canada, KY
Canada, NC
Canal Fulton, OH
Canal Point, FL
Canal Winchester, OH
Canastota, NY
Canby, MN
Canby, OR
Candler, NC
Candor, NC
Canfield, OH
Cannon Beach, OR
Canon City, CO
Canonsburg, PA
Canton, CT
Canton, GA
Canton, MA
Canton, MI
Canton, MS
Canton, NC
Canton, OH
Canton, PA
Canton, SD
Canton, TX
Canyon Lake, TX
Canyon, CA
Canyon, TX
Cape Canaveral, FL
Cape Carteret, NC
Cape Coral Metropolitan Area
Cape Coral, FL
Cape Fear, NC
Cape Girardeau County, MO
Cape Girardeau, MO
Cape May, NJ
Capital, IL
Capitol Heights, MD
Carbon, PA
Carbondale, CO
Carbondale, IL
Carefree, AZ
Carencro, LA
Carey, OH
Caribou, ME
Carle Place, NY
Carleton, MI
Carlisle, AR
Carlisle, IA
Carlisle, PA
Carlsbad, CA
Carlsbad, NM
Carlstadt, NJ
Carmel Hamlet, NY
Carmel, CA
Carmel, IN
Carmel, ME
Carmel, NY
Carmichael, CA
Carnegie, PA
Carneys Point, NJ
Carol Stream, IL
Carolina, NC
Carolina, SC
Carpendale, WV
Carpentersville, IL
Carpinteria, CA
Carrboro, NC
Carroll County, MD
Carroll, IA
Carrollton, GA
Carrollton, KY
Carrollton, MI
Carrollton, TX
Carrollwood Village, FL
Carrolton, MN
Carson City, MI
Carson City, NV
Carson, CA
Carson, LA
Carteret, NJ
Cartersville, GA
Carthage, MO
Carthage, TX
Carver, MN
Cary, IL
Cary, NC
Caryville, TN
Casa Grande, AZ
Cascade Locks, OR
Cascades, VA
Casper, WY
Caspian, MI
Cass Lake, MN
Casselberry, FL
Casselton, ND
Cassopolis, MI
Castle Hayne, NC
Castle Pines, CO
Castle Rock, CO
Castle Rock, WA
Castleton, VT
Castro Valley, CA
Castroville, CA
Catasauqua, PA
Cataumet, MA
Cathedral City, CA
Catlett, VA
Catlettsburg, KY
Catonsville, MD
Catoosa, OK
Catskill, NY
Cavalier, ND
Cave Creek, AZ
Cayce, SC
CaÃ±on City, CO
Cedar City, UT
Cedar Creek, TX
Cedar Crest, New Mexico, United States
Cedar Falls, IA
Cedar Grove, NJ
Cedar Hill, TX
Cedar Knolls, NJ
Cedar Park, TX
Cedar Rapids, IA
Cedar, MN
Cedarburg, WI
Cedartown, GA
Celebration, FL
Celina, TX
Centennial, CO
Center City, MN
Center Conway, NH
Center Line, MI
Center Valley, PA
Center, IN
Center, PA
Center, TX
Centerburg, OH
Centerton, AR
Centerville, GA
Centerville, IA
Centerville, OH
Centerville, TN
Central City, NE
Central Falls, RI
Central Islip, NY
Central Point, OR
Central Valley, NY
Central, IL
Central, MI
Central, MO
Centralia, IL
Centralia, MO
Centralia, WA
Centre County, PA
Centreville, MD
Centreville, MI
Centreville, VA
Ceres, CA
Cerritos, CA
Cerro Gordo, IL
Chadbourn, NC
Chadds Ford, PA
Chadron, NE
Chagrin Falls, OH
Chalfont, PA
Chalmette, LA
Chamberlain, SD
Chambersburg, PA
Chamblee, GA
Champaign County, IL
Champaign, IL
Champlain, NY
Champlin, MN
Chandler, AZ
Chandler, Arizona, United States
Chanhassen, MN
Channahon, IL
Channelview, TX
Chantilly, VA
Chanute, KS
Chapel Hill, NC
Chapin, IL
Chapman, KS
Chappaqua, NY
Chardon, OH
Charleroi, PA
Charles City, IA
Charles City, VA
Charleston County, SC
Charleston, ME
Charleston, SC
Charleston, South Carolina Metropolitan Area
Charleston, TN
Charleston, WV
Charlevoix, MI
Charlotte County, FL
Charlotte County, VA
Charlotte Metro
Charlotte, AR
Charlotte, MI
Charlotte, NC
Charlottesville City County, VA
Charlottesville, VA
Charlton, MA
Chase City, VA
Chaska, MN
Chatham, IL
Chatham, NY
Chatham, VA
Chatsworth Lake Manor, CA
Chatsworth, California, United States
Chatsworth, GA
Chatsworth, NJ
Chattanooga, TN
Chautauqua, NY
Cheboygan, MI
Cheektowaga, NY
Chehalis, WA
Chelan, WA
Chelmsford, MA
Chelsea, MA
Chelsea, MI
Cheltenham Village, PA
Cheltenham, MD
Cheltenham, PA
Cheney, WA
Chepachet, RI
Cheraw, SC
Cherokee, AL
Cherokee, IA
Cherry Creek, CO
Cherry Hill, NJ
Cherryville, NC
Chesapeake, VA
Cheshire, CT
Chester County, PA
Chester Springs, PA
Chester Township, OH
Chester, CA
Chester, NJ
Chester, NY
Chester, PA
Chester, SC
Chester, VA
Chesterbrook, PA
Chesterfield County, VA
Chesterfield, MI
Chesterfield, MO
Chesterfield, NH
Chesterfield, VA
Chesterton, IN
Chestertown, MD
Chestertown, NY
Chestnut Hill, MA
Chestnut, IL
Cheswick, PA
Chevy Chase Section Three, MD
Chevy Chase, MD
Chewelah, WA
Cheyenne, WY
Chicago Heights, IL

**Columnas a eliminar:** (Por ahora, cualquier otro cambio extra lo haremos en el notebook de transformaciones): 

+ description: **(podemos reemplazar por len_description para hacer anÃ¡lisis de la longitud de la descripciÃ³n)**
+ Todas las columnas de URL (realmente no son relevantes, ya que todos los datos son de LinkedIN)
+ compensation_type: **(Siempre es "BASE_SALARY" o es NaN)**, no aporta
+ La columna fips: la podemos eliminar tambiÃ©n ya que para eso tenemos el zip_code
+ work_type: la eliminaremos y dejaremos solo formatted_work_type
+ currency: no la eliminaremos pero la vamos a normalizar a USD porque casi que todos los datos son en esta moneda
+ sponsored: Todo estÃ¡ en cero **(0)**
+ listed_time: es la actualizaciÃ³n de original_listed_time
+ expiry, close_time: No la necesitamos para este anÃ¡lisis

**Columnas a normalizar:**

+ Considerando la cantidad de nulos que hay en max_salary, min_salary y normalized_salary, debemos buscar una forma de normalizar estÃ¡s columnas

+ Convertir el periodo de pago solo a YEARLY, para considerar solo el pago Anual

+ Normalizar location, para city, state, country (si city o state no es de United States, entonces agregamos el paÃ­s correspondiente)

+ remote_allowed: Tiene muchos nulos, pero mÃ¡s de 15 mil datos indican que el trabajo es remoto, por lo cual convertiremos los nulos en ceros **(0)**

+ original_listed_time: normalizaremos la fecha para sacar el dÃ­a y la hora **(actualmente es un object)**, lo volveremos tipo date_time

+ views: cambiarlas de tipo float a int

+ max_salary, med_salary, min_salary: valores que se salen de la media, por mucho, por lo que realizaremos un IQR cada uno de estos

+ normalized_salary: es el salario anual que depende de los otros 3 salarios, por lo que, una vez hagamos la normalizaciÃ³n y estandarizaciÃ³n de estas 3, solo nos quedaremos con normalized_salary

+ pay_period: Lo convertiremos todo a Anual y luego eliminaremos la columna luego de eso

In [11]:
df_benefits = pd.read_csv('../data/jobs/benefits.csv')
df_benefits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67943 entries, 0 to 67942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   job_id    67943 non-null  int64
 1   inferred  67943 non-null  int64
 2   type      67943 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.6+ MB

In [12]:
print("Duplicados:", df_benefits.duplicated().sum())

Duplicados: 0

In [13]:
df_benefits.describe()

             job_id  inferred
count      67943.00  67943.00
mean  3896219574.65      0.59
std     98172917.62      0.49
min     23221523.00      0.00
25%   3898160860.00      0.00
50%   3902347593.00      1.00
75%   3904718586.50      1.00
max   3906267117.00      1.00

In [14]:
df_benefits.isna().sum()

job_id      0
inferred    0
type        0
dtype: int64

In [15]:
df_job_industries = pd.read_csv('../data/jobs/job_industries.csv')
df_job_industries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164808 entries, 0 to 164807
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   job_id       164808 non-null  int64
 1   industry_id  164808 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB

In [16]:
print("Duplicados:", df_job_industries.duplicated().sum())

Duplicados: 0

In [17]:
df_job_industries.describe()

             job_id  industry_id
count     164808.00    164808.00
mean  3897074144.95       196.16
std     76249300.50       594.23
min       921716.00         1.00
25%   3894876310.00        17.00
50%   3902342291.50        44.00
75%   3904718771.25        96.00
max   3906267224.00      3253.00

In [18]:
df_job_industries.isna().sum()

job_id         0
industry_id    0
dtype: int64

In [19]:
df_job_skills = pd.read_csv('../data/jobs/job_skills.csv')
df_job_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

In [20]:
print("Duplicados:", df_job_skills.duplicated().sum())

Duplicados: 0

In [21]:
df_job_skills.describe()

             job_id
count     213768.00
mean  3896849267.04
std     78349015.80
min       921716.00
25%   3894660713.25
50%   3902323142.50
75%   3904715490.00
max   3906267224.00

In [22]:
df_job_skills.isna().sum()

job_id       0
skill_abr    0
dtype: int64

In [23]:
df_salaries = pd.read_csv('../data/jobs/salaries.csv')
df_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40785 entries, 0 to 40784
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   salary_id          40785 non-null  int64
 1   job_id             40785 non-null  int64
 2   max_salary         33947 non-null  float64
 3   med_salary         6838 non-null   float64
 4   min_salary         33947 non-null  float64
 5   pay_period         40785 non-null  object
 6   currency           40785 non-null  object
 7   compensation_type  40785 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 2.5+ MB

In [24]:
##DROP COMPENSATION_TYPE COLUMN
columns_to_drop = ['compensation_type']
df_salaries = df_salaries.drop(columns=[col for col in columns_to_drop if col in df_salaries.columns])

In [25]:
df_salaries.describe()

       salary_id        job_id   max_salary  med_salary  min_salary
count   40785.00      40785.00     33947.00     6838.00    33947.00
mean    20393.00 3895563848.87     96209.87    21370.30    65085.41
std     11773.76   94966718.00    658737.34    51338.56   465061.24
min         1.00     921716.00         1.00        0.00        1.00
25%     10197.00 3894608085.00        50.00       18.50       39.00
50%     20393.00 3901980104.00     85000.00       25.00    62300.00
75%     30589.00 3904576109.00    142500.00     2207.00   100000.00
max     40785.00 3906267224.00 120000000.00   750000.00 85000000.00

In [26]:
df_salaries.isna().sum()

salary_id         0
job_id            0
max_salary     6838
med_salary    33947
min_salary     6838
pay_period        0
currency          0
dtype: int64

In [27]:
n_rows       = len(df_salaries)
n_unique_sid = df_salaries['salary_id'].nunique()
print(f"Rows: {n_rows}, Unique salary_id: {n_unique_sid}")

Rows: 40785, Unique salary_id: 40785

In [28]:
df_companies = pd.read_csv('../data/companies/companies.csv')

##DROP URL COLUMN
df_companies = df_companies.drop(columns=['url'] if 'url' in df_companies.columns else [])
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24473 non-null  object
 2   description   24177 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.7+ MB

In [29]:
print("Duplicados:", df_companies.duplicated().sum())

Duplicados: 0

In [30]:
df_companies.describe()

        company_id  company_size
count     24473.00      21699.00
mean   20522391.62          3.35
std    31659289.15          1.90
min        1009.00          1.00
25%      165404.00          2.00
50%     2738154.00          3.00
75%    26241420.00          5.00
max   103472979.00          7.00

In [31]:
df_companies.isna().sum()

company_id         0
name               0
description      296
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
dtype: int64

In [32]:
print("Duplicados:", df_companies.duplicated().sum())

Duplicados: 0

In [33]:
df_emp_counts = pd.read_csv('../data/companies/employee_counts.csv')
df_emp_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      35787 non-null  int64
 1   employee_count  35787 non-null  int64
 2   follower_count  35787 non-null  int64
 3   time_recorded   35787 non-null  int64
dtypes: int64(4)
memory usage: 1.1 MB

In [34]:
df_emp_counts.describe()

        company_id  employee_count  follower_count  time_recorded
count     35787.00        35787.00        35787.00       35787.00
mean   16682540.69         6715.87       201261.63  1713163272.62
std    29247215.54        29400.98      1114732.82      399086.90
min        1009.00            0.00            0.00  1712346173.00
25%       60596.50           56.00         2738.00  1712861427.00
50%     1339209.00          418.00        16178.00  1713393030.00
75%    15440915.00         2945.00        74129.50  1713471600.00
max   103472979.00       751125.00     32702835.00  1713572859.00

In [35]:
df_emp_counts.isna().sum()

company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64

In [36]:
print("Duplicados:", df_emp_counts.duplicated().sum())

Duplicados: 0

In [37]:
df_industries = pd.read_csv('../data/mappings/industries.csv')
df_industries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   industry_id    422 non-null    int64
 1   industry_name  388 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB

In [38]:
print("Duplicados:", df_industries.duplicated().sum())

Duplicados: 0

In [39]:
df_industries.describe()

       industry_id
count       422.00
mean       1342.31
std        1212.02
min           1.00
25%         108.25
50%        1161.50
75%        2279.50
max        3253.00

In [40]:
df_industries.isna().sum()

industry_id       0
industry_name    34
dtype: int64

In [41]:
df_skills = pd.read_csv('../data/mappings/skills.csv')
df_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 692.0+ bytes

In [42]:
df_skills.describe()

       skill_abr    skill_name
count         35            35
unique        35            35
top          ART  Art/Creative
freq           1             1

In [43]:
df_skills.isna().sum()

skill_abr     0
skill_name    0
dtype: int64

In [44]:
dfs = {
    'postings': df_postings,
    'benefits': df_benefits,
    'job_industries': df_job_industries,
    'job_skills': df_job_skills,
    'salaries': df_salaries
}

total_postings = df_postings['job_id'].nunique()
coverage = []
for name, df in dfs.items():
    if 'job_id' in df.columns:
        n_records = len(df)
        n_unique = df['job_id'].nunique()
        pct = (n_unique / total_postings * 100)
        coverage.append({
            'dataset':      name,
            'rows':         n_records,
            'unique_job_id':n_unique,
            '% of postings': pct
        })

print(pd.DataFrame(coverage))

          dataset    rows  unique_job_id  % of postings
0        postings  123849         123849         100.00
1        benefits   67943          30023          24.24
2  job_industries  164808         127125         102.65
3      job_skills  213768         126807         102.39
4        salaries   40785          40785          32.93

In [45]:
dfs_comp = {
    'postings': df_postings,
    'companies': df_companies,
    'employee_counts': df_emp_counts
}

total_companies = df_companies['company_id'].nunique()
comp_cov = []
for name, df in dfs_comp.items():
    n_records = len(df)
    n_unique = df['company_id'].nunique()
    pct = (n_unique / total_companies * 100)
    comp_cov.append({
        'dataset':         name,
        'rows':            n_records,
        'unique_company':  n_unique,
        '% of companies':  pct
    })

print(pd.DataFrame(comp_cov))

           dataset    rows  unique_company  % of companies
0         postings  123849           24474          100.00
1        companies   24473           24473          100.00
2  employee_counts   35787           24473          100.00

In [46]:
print("=== pay_period en postings vs salaries ===")
print(df_postings['pay_period'].value_counts(dropna=False))
print(df_salaries['pay_period'].value_counts(dropna=False))

print("\n=== currency en postings vs salaries ===")
print(df_postings['currency'].value_counts(dropna=False))
print(df_salaries['currency'].value_counts(dropna=False))

=== pay_period en postings vs salaries ===
NaN         87776
YEARLY      20628
HOURLY      14741
MONTHLY       518
WEEKLY        177
BIWEEKLY        9
Name: pay_period, dtype: int64
YEARLY      23768
HOURLY      16289
MONTHLY       539
WEEKLY        180
BIWEEKLY        9
Name: pay_period, dtype: int64

=== currency en postings vs salaries ===
NaN    87776
USD    36058
EUR        6
CAD        3
BBD        2
AUD        2
GBP        2
Name: currency, dtype: int64
USD    40770
EUR        6
CAD        3
BBD        2
AUD        2
GBP        2
Name: currency, dtype: int64

In [47]:
print("=== Unique industry_id en job_industries vs industries ===")
print("job_industries:", df_job_industries['industry_id'].nunique())
print("industries   :", df_industries['industry_id'].nunique())

print("\n=== Unique skill_abr en job_skills vs skills ===")
print("job_skills:", df_job_skills['skill_abr'].nunique())
print("skills    :", df_skills['skill_abr'].nunique())

=== Unique industry_id en job_industries vs industries ===
job_industries: 422
industries   : 422

=== Unique skill_abr en job_skills vs skills ===
job_skills: 35
skills    : 35

In [48]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/linkedin')

files = {
    'postings':       '../data/postings.csv',
    'benefits':       '../data/jobs/benefits.csv',
    'job_industries': '../data/jobs/job_industries.csv',
    'job_skills':     '../data/jobs/job_skills.csv',
    'salaries':       '../data/jobs/salaries.csv',
    'companies':      '../data/companies/companies.csv',
    'employee_counts':'../data/companies/employee_counts.csv',
    'industries':     '../data/mappings/industries.csv',
    'skills':         '../data/mappings/skills.csv'
}

for table, path in files.items():
    df = pd.read_csv(path)
    df.to_sql(
        name=table,
        con=engine,
        schema='raw',
        if_exists='replace',
        index=False
    )
    print(f"Cargado raw.{table}")

Cargado raw.postings
Cargado raw.benefits
Cargado raw.job_industries
Cargado raw.job_skills
Cargado raw.salaries
Cargado raw.companies
Cargado raw.employee_counts
Cargado raw.industries
Cargado raw.skills