## **PROJECT - NOTEBOOK #1: Raw Data**

> ðŸš§ Run this notebook only once to migrate the data to your DB (It will take a few minutes)

This notebook sets up our data pipeline by configuring the environment, importing essential libraries and create a SQLAlchemy engine, then loading raw data from the CSV file into a Pandas DataFrame, transferring this data into a MySQL database, and verifying the transfer with a simple query.

---

### **Setting Environment**

In [6]:
import os 
print(os.getcwd())

try:
    os.chdir("../../project_etl")

except FileNotFoundError:
    print("""
        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-001.
        """)
    
print(os.getcwd())

d:\U\FIFTH SEMESTER\ETL\project_etl

        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-001.

d:\U\FIFTH SEMESTER\ETL\project_etl

### **Importing modules and libraries**

In [7]:
import pandas as pd
from functions.db_connection.connection import creating_engine
from sqlalchemy import text

### **Ingest Data**

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arshkon/linkedin-job-postings")
print("Path to dataset files:", path)

dataset_dir = path

dfs = {}

csv_files = {
    'jobs': os.path.join(dataset_dir, "postings.csv"),
    'benefits': os.path.join(dataset_dir, "jobs", "benefits.csv"),
    'companies': os.path.join(dataset_dir, "companies", "companies.csv"),
    'employee_counts': os.path.join(dataset_dir, "companies", "employee_counts.csv"), 
    
    #Added CSV files besides the main ones in order to create the fact table
    'industries': os.path.join(dataset_dir, "mappings", "industries.csv"), 
    'skills_industries': os.path.join(dataset_dir, "mappings", "skills.csv"),
    'salaries': os.path.join(dataset_dir, "jobs", "salaries.csv"),
}

for name, file_path in csv_files.items():
    if os.path.exists(file_path):
        dfs[name] = pd.read_csv(file_path)
        print(f"\nDataFrame '{name}' loaded successfully!")
        print(f"First 5 rows of '{name}':")
        print(dfs[name].head())
    else:
        print(f"Error: '{file_path}' not found in {dataset_dir}")
        print("Available files:", os.listdir(dataset_dir if 'jobs' not in file_path else os.path.join(dataset_dir, "jobs")))

#Access to a specific Dataframe
if 'postings' in dfs:
    print("\nColumns in postings DataFrame:")
    print(dfs['postings'].columns)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.9), please consider upgrading to the latest version (0.3.10).
Path to dataset files: C:\Users\sebas\.cache\kagglehub\datasets\arshkon\linkedin-job-postings\versions\13

DataFrame 'jobs' loaded successfully!
First 5 rows of 'jobs':
     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...
1   Fort Collins, CO         NaN    1.0         NaN  ...
2     Cincinnati, OH  64896719.0    8.0         NaN  ...
3  New Hyde Park, NY    766262.0   16.0         NaN  ...
4     Burlington, IA         NaN    3.0         NaN  ...

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

   posting_domain  sponsored  work_type currency compensation_type  \
0             NaN          0  FULL_TIME      USD       BASE_SALARY
1             NaN          0  FULL_TIME      USD       BASE_SALARY
2             NaN          0  FULL_TIME      USD       BASE_SALARY
3             NaN          0  FULL_TIME      USD       BASE_SALARY
4             NaN          0  FULL_TIME      USD       BASE_SALARY

  normalized_salary  zip_code     fips
0           38480.0    8540.0  34021.0
1           83200.0   80521.0   8069.0
2           55000.0   45202.0  39061.0
3          157500.0   11040.0  36059.0
4           70000.0   52601.0  19057.0

[5 rows x 31 columns]

DataFrame 'benefits' loaded successfully!
First 5 rows of 'benefits':
       job_id  inferred                     type
0  3887473071         0        Medical insurance
1  3887473071         0         Vision insurance
2  3887473071         0         Dental insurance
3  3887473071         0                   401(k)
4  3887473071         0  Student loan assistance

DataFrame 'companies' loaded successfully!
First 5 rows of 'companies':
   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  Weâ€™re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

DataFrame 'employee_counts' loaded successfully!
First 5 rows of 'employee_counts':
   company_id  employee_count  follower_count  time_recorded
0      391906             186           32508     1712346173
1    22292832             311            4471     1712346173
2       20300            1053            6554     1712346173
3     3570660             383           35241     1712346173
4      878353              52           26397     1712346173

DataFrame 'industries' loaded successfully!
First 5 rows of 'industries':
   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

DataFrame 'skills_industries' loaded successfully!
First 5 rows of 'skills_industries':
  skill_abr          skill_name
0       ART        Art/Creative
1      DSGN              Design
2      ADVR         Advertising
3      PRDM  Product Management
4      DIST        Distribution

DataFrame 'salaries' loaded successfully!
First 5 rows of 'salaries':
   salary_id      job_id  max_salary  med_salary  min_salary pay_period  \
0          1  3884428798         NaN        20.0         NaN     HOURLY
1          2  3887470552        25.0         NaN        23.0     HOURLY
2          3  3884431523    120000.0         NaN    100000.0     YEARLY
3          4  3884911725    200000.0         NaN     10000.0     YEARLY
4          5  3887473220        35.0         NaN        33.0     HOURLY

  currency compensation_type
0      USD       BASE_SALARY
1      USD       BASE_SALARY
2      USD       BASE_SALARY
3      USD       BASE_SALARY
4      USD       BASE_SALARY

### **Transfer data to DB in MySQL**

In [9]:
engine = creating_engine()

In [10]:
try:
    with engine.connect() as connection:
        result = connection.execute(text('SELECT version();'))
        print(f'PostgreSQL Version: {result.fetchone()[0]}')
except Exception as e:
    print(f'Connection failed: {e}')

for name, df in dfs.items():
    try:
        df.to_sql(name.lower(), con=engine, schema='public', if_exists='replace', index=False)
        print(f"Table '{name}' successfully loaded into PostgreSQL!")
    except Exception as e:
        print(f"Error loading '{name}' into PostgreSQL: {e}")

try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"))
        print('\nTables in PostgreSQL database:')
        for row in result:
            print(row[0])
except Exception as e:
    print(f'Verification failed: {e}')

PostgreSQL Version: PostgreSQL 16.3 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-17), 64-bit
Table 'jobs' successfully loaded into PostgreSQL!
Table 'benefits' successfully loaded into PostgreSQL!
Table 'companies' successfully loaded into PostgreSQL!
Table 'employee_counts' successfully loaded into PostgreSQL!
Table 'industries' successfully loaded into PostgreSQL!
Table 'skills_industries' successfully loaded into PostgreSQL!
Table 'salaries' successfully loaded into PostgreSQL!

Tables in PostgreSQL database:
jobs
benefits
companies
employee_counts
industries
skills_industries
salaries