## **PROJECT - NOTEBOOK #2: Data Cleansing, transformation and Exploratory Data Analysis (EDA)**

---

### **Setting Environment**

In [12]:
import os 
print(os.getcwd())

try:
    os.chdir("../../project_etl")

except FileNotFoundError:
    print("""
        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-001.
        """)
    
print(os.getcwd())

d:\U\FIFTH SEMESTER\ETL\project_etl

        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-001.

d:\U\FIFTH SEMESTER\ETL\project_etl

### **Load Data**

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

from functions.db_connection.connection import creating_engine

In [14]:
engine = creating_engine()

### **Load Database**

In [16]:
#df = pd.read_sql_query("SELECT * FROM jobs LIMIT 1000", engine)    #Select a batch
df = pd.read_sql_table("jobs", engine) #Select all the data
df

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,3890893642,SNI Companies,Policy Specialist,SNI Companies has partnered with an amazing or...,NaN,HOURLY,"Austin, TX",971273.0,3.0,19.25,...,None,1.712857e+12,None,0,FULL_TIME,USD,BASE_SALARY,40040.0,78701.0,48453.0
1,3890893652,AllSTEM Connections,Lead Python Backend Engineer,Lead Python Backend Engineer. 170K-180K base. ...,NaN,None,United States,35475885.0,6.0,NaN,...,None,1.712857e+12,None,0,FULL_TIME,None,None,NaN,NaN,NaN
2,3890893741,DNSFilter,Senior Enterprise Account Executive,At DNSFilter we are making workplaces more sec...,NaN,None,United States,10288375.0,6.0,NaN,...,None,1.712857e+12,None,0,FULL_TIME,None,None,NaN,NaN,NaN
3,3890893839,Avesta Computer Services,Artificial Intelligence Engineer,Client - â€œOur customer is a Top 20 Global inve...,NaN,None,"Newport Beach, CA",34616.0,5.0,NaN,...,None,1.712857e+12,None,0,FULL_TIME,None,None,NaN,92660.0,6059.0
4,3890893845,WhatBytes,Startup Advisor,About WhatBytes\nWhatBytes is an innovative pr...,NaN,None,San Francisco Bay Area,99400379.0,1.0,NaN,...,None,1.712857e+12,None,0,FULL_TIME,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3890893607,Premise Health,Field Requisition,Healthcare Without Rival\nPremise offers a wid...,NaN,None,"Pella, IA",3281403.0,2.0,NaN,...,None,1.712856e+12,premisehealth2.avature.net,0,PART_TIME,None,None,NaN,50219.0,19125.0
123845,3890893615,V&V Supremo Foods Inc,Safety Manager,Position Title: Safety Manager Department: O...,NaN,None,"Chicago, IL",6017632.0,5.0,NaN,...,None,1.712857e+12,None,0,FULL_TIME,None,None,NaN,60601.0,17031.0
123846,3890893623,Bluehawk Consulting,Database Administrator,DBARetire all of the Windows 2012 servers with...,132000.0,YEARLY,"Seattle, WA",3056209.0,6.0,NaN,...,None,1.712857e+12,None,0,CONTRACT,USD,BASE_SALARY,126000.0,98101.0,53033.0
123847,3890893631,Procorp Systems,"JAVA FSD+ Python + AWS - Tampa, FL(Day1 onsite)","JAVA FSD+ Python + AWSTampa, FL(Day1 onsite) L...",NaN,None,"Tampa, FL",74360153.0,9.0,NaN,...,None,1.712857e+12,None,0,CONTRACT,None,None,NaN,33602.0,12057.0
123848,3890894330,"LanceSoft, Inc.",Laboratory Technician,Title: Lab Assistant (Cheese Culture Tech)Loca...,NaN,None,"Morton Grove, IL",16388.0,4.0,NaN,...,None,1.712856e+12,None,0,CONTRACT,None,None,NaN,60053.0,17031.0

### **Understanding the dataset**

#### **Data column details**

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

#### **Examining the dataset for duplicate rows.**

In [18]:
df.duplicated().sum()

np.int64(0)

#### **Examining the dataset for null values.**

In [19]:
df.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

#### **Counting unique values in each column**

In [20]:
df.nunique()

job_id                        123849
company_name                   24428
title                          72521
description                   107827
max_salary                      5321
pay_period                         5
location                        8526
company_id                     24474
views                            684
med_salary                      1417
min_salary                      4612
formatted_work_type                7
applies                          274
original_listed_time           65036
remote_allowed                     1
job_posting_url               123849
application_url                84800
application_type                   4
expiry                         54851
closed_time                      698
formatted_experience_level         6
skills_desc                     2212
listed_time                    53231
posting_domain                  4443
sponsored                          1
work_type                          7
currency                           6
compensation_type                  1
normalized_salary               7259
zip_code                        6989
fips                            2270
dtype: int64